<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>

    <title>Список задач</title>
    <style>
        table {
            table-layout: fixed;

        }

        td {
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">📝TODOList</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/">Главная</a>
                    <a class="nav-item nav-link" th:href="@{/tasks}">Все задачи</a>
                    <a class="nav-item nav-link" th:href="@{/tasks?done=true}">Выполненные
                        задачи</a>
                    <a class="nav-item nav-link" th:href="@{/tasks?done=false}">Новые задачи</a>
                </div>
                <div class="d-flex" th:if="${user.name == 'Гость'}">
                    <a class="nav-link text-light me-3" th:href="@{/users/register}">Регистрация</a>
                    <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
                </div>
                <div class="d-flex" th:if="${user.name != 'Гость'}">
                    <a class="nav-link text-secondary me-3" href="#" th:text="${user.name}"></a>
                    <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-2">
        <div class="row">
            <ul>
                <li><a th:href="@{/tasks}">Все задачи</a></li>
                <li><a th:href="@{/tasks?done=true}">Выполненные задачи</a></li>
                <li><a th:href="@{/tasks?done=false}">Новые задачи</a></li>
            </ul>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название задачи</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Категории</th>
                    <th scope="col">Приоритет</th>
                    <th scope="col">Статус выполнения</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.id}"/>
                    <td><a th:text="${task.name}"
                           th:href="@{tasks/{taskId}(taskId=${task.id})}"></a>
                    </td>
                    <td th:text="${#temporals.format(task.created, 'dd-MM-yyyy HH:mm')}"/>
                    <td th:text="${task.user.name}"/>
                    <td>
                        <ul id="categories">
                            <li th:each="category : ${task.categories}"
                                th:text="${category.name}"></li>
                        </ul>
                    </td>
                    <td th:text="${task.priority.name}"/>
                    <td th:text="${task.done} ? 'Выполнено' : 'В работе'"/>
                </tr>
                </tbody>
            </table>
            <div class="mb-3 row">
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-primary w-100" th:href="@{/tasks/create}">Добавить
                            задачу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>